# SQL and Using it with Python's `sqlite3` Library

## What is SQL?
SQL (Structured Query Language) is a standard programming language specifically designed for managing and manipulating relational databases. It allows you to perform various operations such as querying data, updating records, and managing database structures.

## Using SQL with Python's `sqlite3` Library
Python provides a built-in library called `sqlite3` that allows you to interact with SQLite databases. SQLite is a lightweight, disk-based database that doesnâ€™t require a separate server process and allows access to the database using a nonstandard variant of the SQL query language.

### Steps to Use `sqlite3` in Python

1. **Import the `sqlite3` library**:
    ```python
    import sqlite3
    ```

2. **Create a connection to the database**:
    ```python
    conn = sqlite3.connect('example.db')
    ```

3. **Create a cursor object**:
    ```python
    cursor = conn.cursor()
    ```

4. **Execute SQL queries**:
    ```python
    cursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
    cursor.execute('''INSERT INTO users (name, age) VALUES ('Alice', 30)''')
    ```

5. **Commit the changes**:
    ```python
    conn.commit()
    ```

6. **Fetch and display results**:
    ```python
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()
    for row in rows:
         print(row)
    ```

7. **Close the connection**:
    ```python
    conn.close()
    ```

### Example

Here is a complete example demonstrating how to create a table, insert data, and query the database using `sqlite3`:

```python
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Insert data into the table
cursor.execute('''INSERT INTO users (name, age) VALUES ('Alice', 30)''')
cursor.execute('''INSERT INTO users (name, age) VALUES ('Bob', 25)''')

# Commit the changes
conn.commit()

# Query the database
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()

# Display the results
for row in rows:
     print(row)

# Close the connection
conn.close()
```

This example demonstrates the basic operations of creating a table, inserting data, querying data, and closing the connection using the `sqlite3` library in Python.

In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('sample.db')

In [ ]:
"""
Creates a cursor object using the connection object `conn`.

A cursor is an object that allows interaction with the database to execute SQL queries and fetch results.
It acts as a pointer to the result set of a query and can be used to iterate over the rows in the result set.
"""
cursor = conn.cursor()

In [5]:
cursor.execute('''
               CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)
               ''')

In [6]:
conn.commit()

In [ ]:
## lets insert some data into it

cursor.execute('''INSERT INTO users (name, age) VALUES ('Alice', 30),
               ('Bob', 25)''')

In [25]:
conn.commit()

In [ ]:
## querying from the sql
cursor.execute(
    '''
    SELECT * FROM users
    '''
)

In [23]:
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 20)
(2, 'Bob', 25)

In [20]:
## Update the data
cursor.execute(
    '''
    UPDATE users
    SET age=20
    WHERE name = 'Alice'
    '''
)
conn.commit()

In [21]:
cursor.execute(
    '''
    SELECT * FROM users
    '''
)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 20)
(2, 'Bob', 25)

In [ ]:
## close he connection
conn.close()